.container {
    display: flex
}

.others {
    flex: 4;
}

.body-home{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 95%;
}

.adicionar{
    width: 180px;
    height: 40px;
    border-radius: 10px;
    background-color: #339DB1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: bold;
    text-decoration: none;
}