.sidebar {
    flex: 1;
    height: calc(100vh - 50px);
    padding-left: 5px;
    background-color: #339DB1;
    color: white
}

.sidebarMenu {
    margin-bottom: 10px;
}

.sidebarTitle {
    font-weight: bold;
    font-size: 25px;
    color: white
}

.sidebarList {
    list-style: none;
    padding: 5px
}

.sidebarListItem {
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.sidebarWrapper {
    padding: 20px;
}
    
.sidebarListItem.active, .sidebarListItem:hover {
    background-color: #B0CBD2
}

.sidebarIcon {
    margin-right: 5px;
    font-size: 20px !important;
}

